*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Serif', serif;
}

body{
  margin: 0px;
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  background-color: #420a5e;
  color: white;
}

.desc{
  font-size: 35px;
  text-align: right;
}

.paragrafo{
  font-size: 30px;
  margin-bottom: -20px;
  display: flex;
  align-items: center;
}

.paragrafo1{
  font-size: 200px;
}

.icon:hover{
  cursor: pointer;
  color: #d13636;
  transition: 0.7s;
  transform: scale(1.2);
}

.link{
  color: orange;
}

.list-project {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: aqua;
  color: black;
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-project:hover {
  background-color: #420a5e;
  color: white;
  transition: 0.6s;
  cursor: pointer;
}

.list-home {
  position: absolute;
  top: 10px;
  right: 170px;
  font-size: 30px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: aqua;
  color: black;
  list-style-type: none;
  text-align: center;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-home:hover {
  background-color: #420a5e;
  color: white;
  transition: 0.6s;
  cursor: pointer;
}

.text_screen2{
  align-items: center;
  justify-content: flex-start;
  display: flex;
  color: white;
  font-size: 2rem;
  padding-left: 20px;
  padding-top: 40px;
}

.button-curriculo {
  position: absolute;
  top: 20px;
  border-radius: 8px;
  right: 30px;
  background-color: #420a5e;
  color: white;
  font-size: 30px;
  padding: 10px 20px; /* Adicione o padding desejado para o botão */
}

.button-curriculo:hover{
  cursor: pointer;
  background-color: orange;
  color: #420a5e;
  transition: 0.7s;
  transform: scale(1.1);
}

.color-button{
  background-color: #420a5e;
}

.text_screen2::before {
  content: '';
  display: flex;
  margin-left: 24%;
  width: 284px; /* Ajuste o tamanho da linha conforme necessário */
  height: 3px; /* Ajuste a espessura da linha conforme necessário */
  background-color: #e0008a; /* Ajuste a cor da linha conforme necessário */
}

.text_screen2::after {
  content: '';
  display: flex;
  margin-left: 3px;
  width: 284px; /* Ajuste o tamanho da linha conforme necessário */
  height: 3px; /* Ajuste a espessura da linha conforme necessário */
  background-color: #e0008a; /* Ajuste a cor da linha conforme necessário */

}
/*Tecnologias*/
.card-tec ul {
  column-count: 2;
  width: 90%;
  font-size: 20px;
  padding: 30px;
  list-style-type: none;
  column-gap: 10px;
  position: relative;
}

.card-tec ul li {
  border: 2px solid rgb(156, 53, 156);
  background-color: rgb(46, 1, 46);
  border-radius: 8px;
  padding: 1rem;
  margin-left: 6rem;
  margin-bottom: 14px;
}

.card-html{
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.card-html:hover{
  transform: scale(1.3);
  transition: 0.7s;
}

.h1-html{
  color: white;
  font-size: 20px;
  display: flex;
  margin-top: 10px;
}

.card-js{
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.card-js:hover{
  transform: scale(1.3);
  transition: 0.7s;
}

.h1-js{
  color: white;
  font-size: 20px;
  display: flex;
  margin-top: 10px;
}

.card-react{
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.card-react:hover{
  transform: scale(1.3);
  transition: 0.7s;
}

.h1-react{
  color: white;
  font-size: 20px;
  display: flex;
  margin-top: 10px;
}

.card-node{
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.card-node:hover{
  transform: scale(1.3);
  transition: 0.7s;
}

.h1-node{
  color: white;
  font-size: 20px;
  display: flex;
  margin-top: 10px;
}

.card-boot{
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.card-boot:hover{
  transform: scale(1.3);
  transition: 0.7s;
}

.h1-boot{
  color: white;
  font-size: 20px;
  display: flex;
  margin-top: 10px;
}

.card-css{
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.card-css:hover{
  transform: scale(1.3);
  transition: 0.7s;
}

.h1-css{
  color: white;
  font-size: 20px;
  display: flex;
  margin-top: 10px;
}


/*Tecnologias FIM*/
.tec-card {
  background-color: #141314;
  padding-bottom: 3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10rem;
  border: 4px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 24px 10px 5px 0px rgba(82,10,82,0.47);
  -moz-box-shadow: 24px 10px 5px 0px rgba(82,10,82,0.47);
  box-shadow: 24px 10px 5px 0px rgba(82,10,82,0.47);
}






























